#%RAML 1.0
title: Sciensa - Customer Services - Rafael Chiarinelli
version: v1
baseUri: https://mocksvc.mulesoft.com/mocks/380b30a8-f74d-4b6e-9e81-823c1498ef72 # ---
/customers:
  description: Resource to handle the customer 
  get:
    description: List all the available customers
  post:
    description: Create a new customer
    body:
      application/json:
        type: |
          {
            "type": "object",
            "$schema": "http://json-schema.org/draft-03/schema",
            "id": "http://jsonschema.net",
            "required": true,
            "properties": {
              "identifier": {
                "type": "string",
                "required": true
              },
              "name": {
              "type": "string",
              "required": true
              },
              "cpf": {
                "type": "string",
                "required": true,
                "minLength": 14,
                "maxLength": 14
              },
              "address" : {
                "type": "string",
                "required": true,
                "minLength": 10,
                "maxLength": 100
              }
            }
            
          }
        example:
          {
            "identifier": "550e8400-e29b-41d4-a716-446655440000",
            "name":"John Doe",
            "cpf": "xxx.xxx.xxx-xx",
            "address": "1121 No where street, New York NY"
          }  
  /{customerId}:
    get:
      description: Retrieve a specific customer by his identifier
    put:
      description: Update the customer's data

    delete:
      description: Removes the customer
    /accounts:
      description: Resource to handle the account data rom the customer
      get:
        description: Retrieve all the customer's accounts
      post:
        description: Create a new account for the customer
        body:
          application/json:
            type: |
              {
                "type": "object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "required": true,
                "properties": {
                  "identifier": {
                    "type": "string",
                    "required": true
                  },
                  "agency": {
                    "type": "string",
                    "required": true,
                    "minLength": 5,
                    "maxLength": 20
                  },
                  "accountNumber": {
                    "type": "string",
                    "required": true,
                    "minLength": 5,
                    "maxLength": 25
                  },
                  "type" : {
                    "type": "string",
                    "required": true,
                    "minLength": 1,
                    "maxLength": 1,
                    "description": "Account type: C or P"
                  },
                  "amount" : {
                    "type": "number",
                    "required": true,
                    "default": 0.0,
                    "examples": [
                      1500.40
                    ]
                  }
                }
              }
            example:
              {
                "identifier": "550e8400-e29b-41d4-a716-446655440000",
                "agency":"98712",
                "accountNumber": "54312-X",
                "type": "C",
                "amount": 1300.1
              }
      /{accountId}:
        get:
          description: Retrieve the account data according to the identifier
        put:
          description: update the account details